.base-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: @space-xxl;
  color: @color-text-secondary;

  &__icon {
    font-size: 48px;
    line-height: 1;
    margin-bottom: @space-md;
    color: @color-text-disabled;
  }

  &__desc {
    font-size: @font-size-md;
  }
}
